<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <ul>
            <li id="li1"><a routerLink="/">Accueil</a></li>
            <li id="li2"><a routerLink="/skills">Compétences</a></li>
            <li id="li3"><a routerLink="/projects">Réalisations</a></li>
            <li id="li4"><a routerLink="/parcours">Parcours</a></li>
        </ul>
    </nav>
    <hr id="hr1">
</header>