img {
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(204, 186, 146, 0.5);
    height: 300px;
    width: 300px;
    border: 2px solid var(--border-color);
}

@media (max-width: 1070px) {
    img {
        height: 290px;
        width: 290px;
    }
}

@media (max-width: 1050px) {
    img {
        height: 280px;
        width: 280px;
    }
}

@media (max-width: 1030px) {
    img {
        height: 270px;
        width: 270px;
    }
}

@media (max-width: 1010px) {
    img {
        height: 260px;
        width: 260px;
    }
}

@media (max-width: 990px) {
    img {
        height: 250px;
        width: 250px;
    }
}