<div class="skillsPage">
    <div class="presentationSkills">
        <div class="content">
            <img [src]="imgMultitache" alt="Multitache" class="imgMultitache">
            <div class="textePresentationSkills">
                <p>
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
            </div>
        </div>
    </div>    
    <div class="skills">
        <img [src]="imgFrontDesktop" alt="Front" class="imagesSkills">
        <img [src]="imgBackDesktop" alt="Back" class="imagesSkills">
    </div>
</div>