.skills {
    display: grid;
    justify-content: center;
    gap: 3rem;
}

.skillsPage {
    background-color: var(--wave-color);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.imagesSkills {
    width: 1000px;
}

.presentationSkills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-right: 8rem;
}

#imgMultitache {
    height: 20rem;
    margin: 5rem 0 5rem 8rem;
}

#textePresentationSkills {
    color: var(--background-color);
    width: 30rem;
    font-size: 20px;
}

