<div class="skillsPage">
    <div class="image-container">
        <img [src]="imgTitle" alt="Skills" id="imgTitle">
    </div>    
    <div class="presentationSkills">
        <div class="content">
            <img [src]="imgMultitache" alt="Multitache" id="imgMultitache">
            <div id="textePresentationSkills">
                <p>
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
            </div>
        </div>
    </div>    
    <div class="skills">
        <div>
            <img [src]="imgFrontDesktop" alt="Front" class="imagesSkills" id="imgSkillsFrontDesktop">
        </div>
        <div data-aos="fade-right" data-aos-offset="500"
        data-aos-easing="ease-in-sine">
            <img [src]="imgBackDesktop" alt="Back" class="imagesSkills">
        </div>
        <div data-aos="fade-left" data-aos-offset="500"
        data-aos-easing="ease-in-sine">
            <img [src]="imgToolsDesktop" alt="Tools" class="imagesSkills">
        </div>
    </div>
</div>


