<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
            </label>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Compétences</a></li>
                <li><a href="#">Réalisations</a></li>
                <li><a href="#">Parcours</a></li>
            </ul>
        </nav>
    </header>
    <article class="welcome">
        <div>
            <app-welcome></app-welcome>
        </div>
    </article>
    <article class="presentation">
        <div>
            
        </div>
    </article>
    <article class="skills">
        <div>

        </div>
    </article>
    <article class="realisations">
        <div>

        </div>
    </article>
    <article class="formation">
        <div>

        </div>
    </article>
</body>