<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul>
                <li id="li1"><a href="#">Accueil</a></li>
                <li id="li2"><a href="#">Compétences</a></li>
                <li id="li3"><a href="#">Réalisations</a></li>
                <li id="li4"><a href="#">Parcours</a></li>
            </ul>
            <div class="theme-container shadow-dark">
                <img id="theme-icon" src="https://www.uplooder.net/img/image/55/7aa9993fc291bc170abea048589896cf/sun.svg" alt="ERR">
            </div>
        </nav>
    </header>
    <hr id="hr1">
    <article class="welcome">
        <div>
            <app-welcome></app-welcome>
        </div>
    </article>
    <article class="presentation">
        <div>
            
        </div>
    </article>
    <article class="skills">
        <div>

        </div>
    </article>
    <article class="realisations">
        <div>

        </div>
    </article>
    <article class="formation">
        <div>

        </div>
    </article>
</body>