* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.fa-solid {
    color: #ffffff;
}

nav {
    height: 80px;
    width: 100%;
    background: #161719;
    display: flex;
    align-items: center;
    justify-content: right;
}

nav ul {
    margin-right: 20px;
    display: flex;
    position: absolute;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 15px;
    border-radius: 3px;
}

nav ul li a:hover {
    color: #b4a88f;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 1070px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 29vh;
        background: rgba(22, 23, 25, 0.8);;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-direction: column;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #161719;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

#hr1 {
    height: 2px;
    background-color: #b4a88f;
}