.welcome {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.welcome path {
    stroke-dasharray: 400px;
    stroke-dashoffset: 400px;
    animation: anim 5s ease forwards;
}

@keyframes anim {
    to {
        stroke-dashoffset: 0;
    }
}

svg {
    height: 10rem;
}

.removeSVG {
    display: none;
}