.accueil {
    height: 60vh;
    width: 100%;
    background: var(--wave-color);
}

@media screen and (max-width: 450px) {
    .accueil {
        height: 75vh;
    }
}

.fond-curvy {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 5%;
    display: block;
}

#textHome {
    border: 2px solid var(--border-color);
    border-radius: 10%;
    width: 400px;
    height: 300px;
    margin: 10em 0 0 0;
}

.fa-envelope, .fa-phone {
    color: var(--border-color);
    margin-right: 10px;
    cursor: pointer;
}

.fa-envelope {
    margin-bottom: 10px;
}

a[href^="mailto"], a[href^="tel"] {
    color: var(--text-color);
    text-decoration: none;
}

.custom-mailto:hover {
    text-decoration: underline;
}

h2 {
    color: var(--border-color);
    font-size: 38px;
    font-weight: 600;
    margin-top: 15px;
}

h3 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 400;
}

p {
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 15px;
}

h2, h3, p {
    margin-left: 15px;
    margin-right: 15px;
}

#barre {
    width: 150px;
    background-color: var(--border-color);
    height: 1px; 
    margin-top: 19em;
}

#photo {
    margin-top: 10em;
}

#presentationHome {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    /* opacity: 0;
    animation: fadeIn 0.5s ease 2200ms 1 normal forwards; */
}

/* @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
} */


@media (max-width: 852px) {
    #presentationHome {
        display: grid;
        justify-content: center;
    }
    #textHome { 
        margin: 5em 0 0 0;
        width: 250px;
        height: 230px;
    }
    #barre {
        height: 150px;
        width: 1px;
        margin: 0 0 0 125px;
    }
    #photo {
        margin: 0;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    
    p {
        font-size: 12px;
    }
}

