<div>
    <!-- <app-welcome></app-welcome> -->
</div>
<div class="accueil">
    <img [src]="urlImg" alt="Wave" class="fond-curvy">
        <div id="presentationHome">
            <div id="textHome">
                <h2>Quentin Sainclair</h2>
                <br>
                <h3>Développeur Fullstack</h3>
                <br>
                <p>Chef de projet web pendant 7 ans et développeur à mes temps perdus, j’ai voulu inverser la tendance en intègrant une formation à l’EPSI en 2023.</p>
                <br>
                <p><i class="fa-regular fa-envelope"></i><a class="custom-mailto" href="mailto:qsainclair@gmail.com">qsainclair@gmail.com</a><br>
                <i class="fa-solid fa-phone"></i><a class="custom-mailto" href="tel:+33666868242">06 66 86 82 42</a></p>
            </div>
            <div id="barre">
            </div>
            <div id="photo">
                <app-image></app-image>
            </div>
        </div>
</div>